
@{
    ViewBag.Title = "ParentsGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="mu-testimonial" style=" background-image: url('../../Content/img/mine/primare-banner.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-testimonial-area">
                    <div id="mu-testimonial-slide" class="mu-testimonial-content">
                        <!-- start testimonial single item -->
                        <div class="mu-testimonial-item">
                            <div class="mu-testimonial-quote">
                                <blockquote>
                                    <h2>Your child depends on you, and you can depend on us.</h2>
                                    <p>Our Common Application will connect you to unparalleled opportunities by providing access to more than 500 member schools through one convenient platform, just from your seat. We will help you with no doubt to get the right path for your child. </p>
                                </blockquote>
                            </div>
                            <!--<div class="mu-testimonial-img">
                              <img src="assets/img/testimonial-1.png" alt="img">
                            </div>
                            <div class="mu-testimonial-info">
                              <h4>Karly Wilson</h4>
                              <span>Parent</span>
                            </div>-->
                        </div>
                        <!-- end testimonial single item -->
                        <!-- start testimonial single item
                        <div class="mu-testimonial-item">
                          <div class="mu-testimonial-quote">
                            <blockquote>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rerum soluta aperiam blanditiis obcaecati eveniet aliquam consequatur nobis eaque id.</p>
                            </blockquote>
                          </div>
                          <!--<div class="mu-testimonial-img">
                            <img src="assets/img/testimonial-3.png" alt="img">
                          </div>
                          <div class="mu-testimonial-info">
                            <h4>Rebaca Michel</h4>
                            <span>Parent</span>
                          </div>
                        </div>
                        <!-- end testimonial single item -->
                        <!-- start testimonial single item
                        <div class="mu-testimonial-item">
                          <div class="mu-testimonial-quote">
                            <blockquote>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rerum soluta aperiam blanditiis obcaecati eveniet aliquam consequatur nobis eaque id.</p>
                            </blockquote>
                          </div>
                          <!--<div class="mu-testimonial-img">
                            <img src="assets/img/testimonial-2.png" alt="img">
                          </div>-
                          <div class="mu-testimonial-info">
                            <h4>Stev Smith</h4>
                            <span>Parent</span>
                          </div>
                        </div>
                        <!-- end testimonial single item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!DOCTYPE html>
<html lang="en">
<div class="container">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>


            .collapsible {
                background-color: #777;
                color: white;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
            }

                .active, .collapsible:hover {
                    background-color: #555;
                }

            .content {
                padding: 0 18px;
                display: none;
                overflow: hidden;
                background-color: #f1f1f1;
            }
        </style>
    </head>
    <section id="mu-page-breadcrumb" style="margin-top:50px">
        <div class="mu-slider-img">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-page-breadcrumb-area">
                        <h2>For better relationship with your kids.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <body>
        <br /> <br /><br /><br />
        <button class="collapsible" style="margin-top:50px">How to prepare your child for the first day at school?</button>
        <div class="content">
            <p>
                <br />
                •	Visit the school or classroom before the first day.<br />
                •	Shop for school supplies together.<br />
                •	Create a school routine, every night before school, get your child’s clothes ready and prepare his or her lunchbox for the following day. This routine encourages talk time between you and your child.<br />
                •	Make sure your child get enough rest the night before.<br />
                •	Before school starts talk with your child about what he or she should expect, talk to them about the classroom routine, activities, friends, and the teacher.<br />
                •	Help your child learn how to socialize and make friends.<br />
                •	Show your positive attitude, smile and keep calm, your child will follow you as the leader.<br />
            </p>
        </div>
        <br /><br />
        <button class="collapsible">How to improve your child’s behavior?</button>
        <div class="content">
            <p>
                <br />
                •	Focus on the positive situations only, For example, you can say “You were so focused on your math homework tonight! Keep up the good work,” “That was so nice the way you helped your brother with his homework.” When children get encouraged for doing the right thing, they want to do more of it.<br />
                •	Use positive body language to show approval for positive behavior, Positive body language can include a smile, thumbs up, high-five, hug, etc.<br />
                •	Quality time with our child is very important, make jokes, listen to his jokes, smile often, say something silly, sing something you would normally say, or anything else that would make him smile/laugh.<br />
                •	Show your child how much you love him. Smile at him when he comes into the room, ask about his day, and really listen when he talks.<br />
                •	Take an interest in your child’s interests, do activities with your child that involve something he is interested in.<br />
                •	Understand your child’s feelings, he often doesn’t understand what he feel, be kind and sympathetic with him and let he knows that you are there to help.<br />
                •	Be a role model for good behavior, your children are your mirror whatever you do they will do it to.<br />
                •	Keep your promises with your children no matter how small they are, don’t lose their trust.<br />
            </p>
        </div>
        <br /><br />
        <button class="collapsible">What to Do When Your Child Won't Go to School?</button>
        <div class="content">
            <p>
                <br />
                •	Check for physical causes, if your child is complaining of physical symptoms.<br />
                •	Talk with your child, talk about what's annoying him, the most important message to tell him is that “I believe you can overcome this problem, and I will be there to help you through it.<br />
                •	Don’t lecture. Avoid lengthy discussions and debates about the importance of going to school. Lecturing won't do any good, and it may actually make matters worse.<br />
                •	Set up a conference, both parents should meet with the teacher.<br />
                •	Do not make it nice to stay at home, let your child know that if he's truly ill, he will need to see a doctor, stay in bed and rest, keep the TV off, and so on. Enforce rules about no TV or video games.<br />
            </p>
        </div>
        <br /><br /><br />
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                });
            }
        </script>
    </body>
</html>
<style>



    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>
</body>
</html>
