
@{
    ViewBag.Title = "SchoolCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>

    <div class="mu-features-content">
        <div class="row">
            <div class="col-lg-4 col-md-4  col-sm-6">
                <div class="mu-single-feature" style="margin-left:50px">
                    <figure style="margin-left:130px;margin-top:50px">
                        <img src="~/content/img/mine/americanflag2.jpg" alt="img" style="width:100px; height:100px">
                    </figure>
                    <h2 style="font-size:30px; margin-left:60px">American schools</h2>
                    <br />
                    <p>
                        The American International School in Egypt provides an American and international education.
                        The school is co-educational, college preparatory with English language instruction.
                        It offers the IB program that culminates in awarding eligible students an American High School Diploma or International Baccalaureate Diploma.
                        AISE is a member of CoIS, ECIS, NESA, AAIE and Mediterranean Association of International Schools.
                    </p>

                </div>
            </div>

            <div class="col-lg-4 col-md-4  col-sm-6">
                <div class="mu-single-feature">
                    <figure style="margin-left:100px; margin-top:50px">
                        <img src="~/content/img/mine/britsh.png" alt="img" style="width:100px; height:100px">
                    </figure>
                    <h2 style="font-size:30px; margin-left:60px">British schools</h2>
                    <br />
                    <p>
                        BISC was established in 1976 based on British principles and curricula.
                        It caters to expatriate British and Anglo-Egyptian communities as a co-educational day school for pupils aged 3-18.
                        From Foundation Stage to the end of Key Stage 4, the school follows the UK National Curriculum.
                        In the Sixth Form, BISC offers the IB program. It is a member of COBIS, IAPS, BSME, and ECIS.
                    </p>

                </div>
            </div>

            <div class="col-lg-4 col-md-4  col-sm-6">
                <div class="mu-single-feature">
                    <figure style="margin-left:80px; margin-top:50px">
                        <img src="~/content/img/mine/france.jpg" alt="img" style="width:100px; height:100px">
                    </figure>
                    <h2 style="font-size:30px; margin-left:50px">French schools</h2>
                    <br />
                    <p>
                        A French language school that offers college preparatory classes.<br />
                        It follows the national curriculum of France and English language instruction as an additional language.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="mu-features-content">
        <div class="row">

            <div class="col-lg-4 col-md-4  col-sm-6">
                <div class="mu-single-feature" style="margin-left:50px">
                    <figure style="margin-left:100px; margin-top:50px">
                        <img src="~/content/img/mine/egypt.png" alt="img" style="width:100px; height:100px">
                    </figure>
                    <h2 style="font-size:30px">Egyption experimental<br /> schools</h2>
                    <br />
                    <p>
                        Teach most of the government curriculum (Science, math, and computer) in English,
                        and adds French or German as a second foreign language in preparatory education.
                        Social studies are taught in Arabic.
                        Students are admitted into first grade at age seven; a year older than Arabic schools.
                    </p>

                </div>
            </div>

            <div class="col-lg-4 col-md-4  col-sm-6">
                <div class="mu-single-feature">
                    <figure style="margin-left:110px; margin-top:50px">
                        <img src="~/content/img/mine/japan.png" alt="img" style="width:120px; height:100px">
                    </figure>
                    <h2 style="font-size:30px; margin-left:40px">Japanes schools</h2>
                    <br />
                    <p>
                        Tokatsu is the Japanese education system that Egypt has announced to be implemented through the EJEP-Egypt-Japan Education Partnership signed in March 2016.
                        Planning for the implementation of the system began during the academic year 2016/2017 in 12 schools distributed in the governorates Greater Cairo,
                        and in April 2017 announced plans to start the implementation of the system in 45 other schools distributed across the governorates of the Republic.
                    </p>

                </div>
            </div>

            <div class="col-lg-4 col-md-4  col-sm-6">
                <div class="mu-single-feature">
                    <figure style="margin-left:100px; margin-top:50px">
                        <img src="~/content/img/mine/canada.png" alt="img" style="width:120px; height:100px">
                    </figure>
                    <h2 style="font-size:30px; margin-left:70px">Canadian schools</h2>
                    <br />
                    <p>
                        The Canadian International School of Egypt is home to students from pre-school to grade 12.
                        Graduation from CISE provides its students with the Canadian "Ontario Secondary School Diploma",
                        as the school is registered with the Ontario Ministry of Education in Canada.
                        The education curriculum is delivered identically as if the school were in Toronto or in Canada's capital, Ottawa.
                    </p>

                </div>
            </div>
        </div>
    </div>
    <br /><br />
</div>

